.intro {
	max-width: 690px;
	margin-left: 148px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.intro {
		margin-left: 48px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.intro {
		margin: 0 24px;
		max-width: 720px;
	}
}

@media (max-width: 767px) {
	.intro {
		margin: 0 16px;
	}
}
