.cover__title {
	max-width: 560px;
	margin: 0 auto;
	text-align: center;
	padding: 245px 0 32px;
	font-size: 72px;
	line-height: 76px;
	font-weight: 900;
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.cover__title {
		padding: 195px 0 32px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.cover__title {
		padding: 115px 0 32px;
	}
}

@media (max-width: 767px) {
	.cover__title {
		padding: 33px 0 16px;
		max-width: 288px;
		font-size: 32px;
		line-height: 35px;
	}
}
